<div class="container" ng-controller="ChatController">
    <h1>RealTime Chat</h1>

    <form ng-submit="send()" class="form">
        <div class="form-group">
            <label for="new_message">Message</label>
            <input type="text" class="form-control" ng-model="new_message" />
        </div>

        <input type="submit" class="btn btn-primary" />
    </form>
    
    <ol id="chats">
        <li ng-repeat="message in messages">{{ message.message }}</li>
    </ol>
</div>
